<h1>Описание проекта TestGuru</h1>
<body>
<base target="_blank">
Проект предназначен для: 
<br>
<br>- Создания и управления тестами;
<br>- Аутентификации (разграничение на то, кто какой тест проходит и кто
<br>  какой тест создает);
<br>- Создания тестов администраторами;
<br>- Выполнения тестов пользователями;
<br>- Публикации результатов в социальных сетях.
<br><p><%= link_to 'Ссылка на сайт онлайн-школы Thinknetica', 'http://thinknetica.com', target: :_blank %></p>
</body>

